body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  color: white;
  height: 4rem;
  padding: 0 1rem;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: gray;
  padding: 1.5rem 0;
}

.clear-margin {
  margin: 0;
}

.content {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
}

.aside-left {
  width: 17%;
}

.about {
  background-color: rgb(240, 240, 240);
}

.aside-padding {
  padding: 1rem;
}

.sign-in {
  width: 200px;
  height: 300px;
  background-color: rgb(240, 240, 240);
}
