body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  color: white;
  height: 4rem;
  padding: 0 1rem;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: gray;
  padding: 1.5rem 0;
}

.clear-margin {
  margin: 0;
}

.content {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
}

.aside-left {
  width: 17%;
}

.about {
  background-color: rgb(240, 240, 240);
}

.aside-padding {
  padding: 1rem;
}

.article-list {
  width: 60%;
  height: 850px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.article {
  width: 49%;
  box-shadow: 0 1px 4px rgba(211, 211, 211, 0.5);
  border: 1px solid rgba(211, 211, 211, 0.5);
  border-radius: 3px;
  margin-bottom: 20px;
}

.article:nth-child(2n + 1) {
  order: 1;
}

.article:nth-child(2n) {
  order: 2;
}

.cover-image {
  width: 100%;
  height: 150px;
  display: block;
}

.figcaption {
  padding: 1.5rem 1rem;
}

.figcaption > p {
  margin-top: 0.5rem;
}

.article-entry,
.article-entry:visited {
  color: rgb(0, 153, 255);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.article-entry > svg {
  margin-left: 3px;
  width: 0.7rem;
}

.aside-right {
  width: 19%;
  display: flex;
  align-items: center;
}

.sign-in {
  width: 100%;
  padding: 1.5rem;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-block {
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid lightgrey;
  margin-bottom: -1px;
}

.border-radius-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.border-radius-bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.remember-me-label {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.sign-in-button {
  border: none;
  height: 2rem;
  color: white;
  background-color: rgb(0, 110, 255);
  font-size: 1rem;
}
